*{
	background-color:black;
	font-family:Tahoma;
	text-align:center;
	list-style:none;
	color:white;
	
}
.container {
 position:relative;
  font-family: Tahoma;
  color:white;
  font-size:140%;
}

.HEAD_FIXED{
	position:fixed;
}



.topnav {
  overflow: hidden;
  background-color: #333;
  
  
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: Green;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.top-right {
   position: absolute;
   top: 240px;
   width:35%;
   right: 50px;
   padding:15px;
}
.skill_present{
	
	 position: absolute;
     top:150px;
     right:55px;
     width:35%;
      padding:15px;
	 color:white;
	  
}

 

  .program{
  position: absolute;
  top: 495px;
  right:55px;
  
  width:35%;
  padding:15px;
  
  }
  
.business {
  position: absolute;
  top: 1665px;
  right:50px;
  
  width:35%;
  padding:15px;

  }

img{
width:100%;
height:auto;
}
h1{

padding:10px;
color:Pink;

}
h4{
	border:white;
	color:pink;
}
.FOOT{
	padding:10px;
	color:WHITE;
	background-color:Black;
	text-align:center;
	margin:0px;
	
}

